HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
/target/
/.idea
/cadastroPessoa.iml
/.java-version
### STS ###
/.apt_generated
/.springBeans
/.sts4-cache
/.classpath
/.settings
/.factorypath
/.project
/bin
/.attach_pid
/.sonar-project
/.scannerwork
/report-task
/.metadata/
/..profile.swp

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
